:root {
    --head-foot: whitesmoke;
    --side: whitesmoke;
    --status-value: 
    --status-container: 
    --text: 
    --main: whitesmoke;
    --buttons: 
  }



* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



/* === Game Page === */

body {
    font-family: 'Open Sans', sans-serif;
    padding: 0;
    margin: 0;
  }

main {
    border: 2px solid red;
    background-image: url(https://image.freepik.com/free-vector/seamless-pattern-with-cats-hearts_136351-246.jpg);
    background-size: 15%;
    padding: 50px;
    width: 100%;
    font-family: 'Grandstander', cursive;
}


header {
    border: 2px solid green;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    font-family: 'Grandstander', cursive;
    font-size: 20px;
    text-align: center;
    background-color: var(--head-foot);
    
}

/* Styling progress bars */

progress {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 15px;
    height: 50px;
    width: 200px;
    border-radius: 10px;
}


progress[value]::-webkit-progress-value {
    border-radius: 10px;

}


/* === */

container2 {
    display: flex;
}

aside {
    border: 2px solid blue;
    padding: 50px 15px;
    height: inherit;
    width: 20%;
    flex-direction: column;
    text-align: center;
    background-color: var(--side);
}

age {
    font-family: 'Varela Round', sans-serif;
    font-size: 16px;
}

h2 {
    padding: 15px 0px;

}


section {
    border: 2px solid purple;
    padding: 50px;
    width: 80%;
    background-color: whitesmoke;
}

.responsive {
    max-width: 100%;
    height: 100%;
}

footer {
    border: 2px solid orange;
    padding: 15px;
    display: flex;
    justify-content: space-around;
    background-color: var(--head-foot);
}

/* Button styling */

.action {
    padding: 15px;
    margin: 15px;
    width: 200px;
    height: 90px;
    border-radius: 4px;
    box-shadow: 4px 3px 11px -3px rgba(0,0,0,0.52);
    -webkit-box-shadow: 4px 3px 11px -3px rgba(0,0,0,0.52);
    -moz-box-shadow: 4px 3px 11px -3px rgba(0,0,0,0.52);
    cursor: pointer;
    font-family: 'Grandstander', cursive;
    font-size: 30px;
}

