* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    padding: 0;
    margin: 0;
  }

main {
    border: 2px solid red;
}

header {
    border: 2px solid green;
}

aside {
    border: 2px solid blue;
}

section {
    border: 2px solid purple;
}

footer {
    border: 2px solid orange;
}