:root {
    --head-foot: #f4a261;
    --side: #f4a261;
    --text: #264653;
    --main: #f4a261;
    --buttons: ;
    --modals: #2a9d8f;
  }



* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



/* === Game Page === */

body {
    padding: 0;
    margin: 0;
    background-image: url(https://image.freepik.com/free-vector/seamless-pattern-with-cats-hearts_136351-246.jpg);
    background-size: 15%;
    height: 100vh;
    padding: 50px;
    font-family: 'Grandstander', cursive;
    color: var(--text);

  }

main {
    display: block;
    height: 78vh;
    width: 65vw;
    margin: auto;
    background: var(--main)
}


header {
    padding: 20px;
    font-size: 20px;
    text-align: center;
    background: var(--head-foot);
}

#ageStatement {
    font-family: 'Varela Round', sans-serif;
    font-size: 16px;
    visibility: hidden;
}

#catAge {
    font-size: large;
}

h2 {
    padding: 15px 0px;
    margin-top: 5px;
}

container2 {
    display: flex;  
}

aside {
    padding: 30px 15px;
    flex-direction: column;
    text-align: center;
    font-size: larger;
    background: var(--side);
}

/* Styling progress bars */

progress {
margin-top: 50px;
margin-bottom: 6px;
height: 20px;
}

progress[value] {

}


/* === */


section {
    width: 80%;
    margin: auto;
    background: var(--main);
}

.responsive {
    max-width: 70%;
    height: auto;
    float: left;
}

footer {
    padding: 15px;
    display: flex;
    justify-content: space-around;
    width: inherit;
    position: absolute;
    background: var(--main);
}

/* Button styling */

.action {
    padding: 15px;
    margin: 5px;
    border-radius: 4px;
    box-shadow: 4px 3px 11px -3px rgba(0,0,0,0.52);
    -webkit-box-shadow: 4px 3px 11px -3px rgba(0,0,0,0.52);
    -moz-box-shadow: 4px 3px 11px -3px rgba(0,0,0,0.52);
    cursor: pointer;
    font-family: 'Grandstander', cursive;
    font-size: 20px;
}

/* Modal */

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 50px;
    background-color: var(--modals);
    border-radius: 5px;
    box-shadow: 4px 3px 11px -3px rgba(0,0,0,0.52);
    text-align: center;
    font-family: 'Grandstander', cursive;
    font-size: 20px;
  }

  input#nameInput {
      margin-top: 30px;
      margin-bottom: 15px;
      padding: 5px;
      border-radius: 4px;
      font-family: 'Varela Round', sans-serif;
      font-size: 18px;
      text-align: center;
  }

  #submitName {
    padding: 10px;
    margin-top: 30px;
    border-radius: 4px;
    box-shadow: 4px 3px 11px -3px rgba(0,0,0,0.52);
    -webkit-box-shadow: 4px 3px 11px -3px rgba(0,0,0,0.52);
    -moz-box-shadow: 4px 3px 11px -3px rgba(0,0,0,0.52);
    cursor: pointer;
    font-family: 'Grandstander', cursive;
    font-size: 20px;
  }

#gameOverModal {
    visibility: hidden;
}

#gameOverMsg {
    font-family: 'Varela Round', sans-serif;
}

#playAgain {
    padding: 10px;
    margin-top: 30px;
    border-radius: 4px;
    box-shadow: 4px 3px 11px -3px rgba(0,0,0,0.52);
    -webkit-box-shadow: 4px 3px 11px -3px rgba(0,0,0,0.52);
    -moz-box-shadow: 4px 3px 11px -3px rgba(0,0,0,0.52);
    cursor: pointer;
    font-family: 'Grandstander', cursive;
    font-size: 20px;
}